.employee-container {
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: flex-end;
	display: flex;
	margin: 5px;
	border-radius: 10px;

		.employee-name {
			color: black;
			font-size: 12px;
			background-color: white;
		}
	}
