.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	background-color: rgb(29, 35, 29);
	padding: 10px;
	height: 80px;

	.logo-container {
		color: white;
	}
	
	.options {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 30%;

		.option {
			color: white;
		}
	}
}